* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(17, 17, 17, 1) 0%, rgba(1, 27, 0, 1) 50%, rgba(17, 17, 17, 1) 100%);
    overflow: hidden;
    height: 100vh;
}

#board {
    /* border: 2px solid white; */
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
    box-shadow: rgba(252, 29, 59, 0.5) 0px 0px 20px 8px;
    border-radius: 5px;

}

.snakehead {
    background: linear-gradient(rgb(21, 91, 21), rgb(0, 255, 34));
    background-color: rgb(89, 255, 0);
    transform: scale(1.05);
    border-radius: 30%;
    border: 1px solid rgb(255, 255, 255);
}

.snakebody {
    background-color: rgb(13, 255, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: inset rgb(20, 93, 28) 0px 0px 10px 4px;
}

.food {
    /* width: 200px; */
    /* height: 200px; */
    background: linear-gradient(red, rgb(255, 86, 86));
    /* box-shadow: inset red 0px 0px 10px 4px; */
    /* border: px solid black; */
    border-radius: 30%;
    /* background: radial-gradient(circle at 80px 80px, #ff0000, #800000); */
    /* position: relative; */
    /* overflow: hidden; */
}

.Score {
    position: absolute;
    color: aliceblue;
    left: 10px;
    top: 10px;
    border: 1px solid white;
    padding: 5px;
    width: auto;
}

.HighScore {
    position: absolute;
    color: aliceblue;
    right: 10px;
    top: 10px;
    border: 1px solid white;
    padding: 5px;
    width: auto;
}

#ScoreValue {
    /* position: absolute; */
    color: aliceblue;
    /* left: 10px; */
    /* top: 10px; */
    /* border: 1px solid white; */
    /* padding: 5px; */
    width: auto;
}

#HighScoreValue {
    /* position: absolute; */
    color: aliceblue;
    /* left: 10px; */
    /* top: 10px; */
    /* border: 1px solid white; */
    /* padding: 5px; */
    width: auto;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

.keyboard-buttons {
    /* left: 10px; */
    bottom: 10px;
    position: absolute;
    display: flex;
    color: white;
    font-size: 24px;
    align-items: center;
}

.keyboard-button {
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    font-size: 20px;
}

.up {
    border-radius: 50% 50% 0 0;
}

.down {
    border-radius: 0 0 50% 50%;
}

.left {
    border-radius: 50% 0 0 50%;
}

.right {
    border-radius: 0 50% 50% 0;
}